body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  line-height: 1.5;
}

main {
  margin: 0 auto;
  width: 72ch;
}

a {
  color: mediumblue;
}

table {
  border: 1px solid rebeccapurple;
  width: 100%;
}

th,
tr {
  text-align: left;
}

tbody tr {
  position: relative;
  vertical-align: top;
}

div.cd-content--toggle {
  left: 0;
  position: absolute;
  right: 0;
}
